@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,500&family=Roboto:wght@100;300;400;500;700;900&display=swap");
#content {
  max-width: 1600px;
  margin: 0 auto;
}
body {
  background-color: #fefcfb;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
.logo {
  width: 80px;
}
#logo_link {
  padding-top: 5px;
}
nav a {
  text-align: center;
  color: #fefcfb;
  text-decoration: none;
  padding: 35px;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}
#hero-img {
  width: 100%;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}
#background {
  background-color: #0a1128;
  height: 725px;
}

h2 {
  margin: 0;
}
header {
  background-color: #1282a2;
}
.icon {
  width: 80px;
  padding-top: 10px;
}
nav a:hover {
  background-color: #034078;
  color: #fefcfb;
}
.book,
.join {
  background-color: #034078;
  color: #fefcfb;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover,
.join:hover {
  background-color: #0a1128;
  color: #fefcfb;
}
.card-img {
  border: 10px solid #0a1128;
}

.home-title {
  color: #0a1128;
  font-family: Poppins, Arial, sans-serif;
  font-size: 2em;
  margin-top: 10px;
}
main section img {
  box-sizing: border-box;
}
h4 {
  color: #0a1128;
}
.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}
.mountains {
  margin: 100px 0 200px 0;
}
.msg {
  background-color: #1282a2;
  line-height: 1.5em;
  padding: 35px;
}
.msg h2 {
  color: #0a1128;
  font-family: Poppins, Arial, sans-serif;
}
.msg p {
  color: #fefcfb;
  font-size: 0.8em;
  padding-bottom: 15px;
}
footer {
  background-color: #1282a2;
  color: #fefcfb;
  padding: 25px 50px;
  margin-top: 200px;
}
footer p {
  font-size: 1.2em;
}
footer p a:hover {
  text-decoration: underline;
}
footer a {
  color: #fefcfb;
  text-decoration: none;
}
footer a:hover {
  color: #034078;
}
footer .social img {
  padding-top: 15px;
}
